
.icon-arrowdownicon-:before { content: '\e800'; } /* '' */
.icon-filtericon-:before { content: '\e801'; } /* '' */
.icon-humanicon-:before { content: '\e802'; } /* '' */
.icon-buletinicon-:before { content: '\e803'; } /* '' */
.icon-dashboardicon-:before { content: '\e804'; } /* '' */
.icon-birthdayicon-:before { content: '\e805'; } /* '' */
.icon-moreicon-:before { content: '\e806'; } /* '' */
.icon-performanceicon-:before { content: '\e807'; } /* '' */
.icon-pengaturanicon-:before { content: '\e808'; } /* '' */
.icon-perusahaanicon-:before { content: '\e809'; } /* '' */
.icon-trainingicon-:before { content: '\e80a'; } /* '' */
.icon-notificationicon-:before { content: '\e80b'; } /* '' */
.searchicon-:before { content: '\e80c'; } /* '' */
.icon-arrowicon-:before { content: '\e80d'; } /* '' */
.icon-karyawanicon-:before { content: '\e80e'; } /* '' */
.icon-mailicon-:before { content: '\e80f'; } /* '' */
.icon-rekrutmenicon-:before { content: '\e810'; } /* '' */
.icon-eventicon-:before { content: '\e811'; } /* '' */
.icon-absensiicon-:before { content: '\e812'; } /* '' */
.icon-laporanicon-:before { content: '\e813'; } /* '' */
.icon-dealericon-:before { content: '\e814'; } /* '' */